<div class="container"><br>
  <div class="row">
    <div class="col-1"></div>
    <h3 class="bg-secondary">　マイページ　</h3>
  </div><br>
  <div class="row">
    <p class="col-1"><strong>登録情報</strong></p>
    <div class="col-sm-1"></div>
    <%= link_to "編集する", edit_customers_path, class: "col-2 btn btn-success" %>
  </div><br>
  <div class="row">
    <table class="table table-bordered col-sm-8">
      <tr>
        <td>氏名</td>
        <td><%= @customer.last_name %><%= @customer.first_name %></td>
      </tr>
      <tr>
        <td>カナ</td>
        <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
    </table>
  </div><br>
  <div class="row">
      <p class="col-1"><strong>配送先</strong></p>
      <div class="col-1"></div>
      <%= link_to "一覧を見る", addresses_path, class: "col-2 btn btn-primary" %>
  </div><br>
  <div class="row">
      <p class="col-1"><strong>注文履歴</strong></p>
      <div class="col-1"></div>
      <%= link_to "一覧を見る", orders_path, class: "col-2 btn btn-primary" %>
  </div>

</div>