<div class="container">
  <div class="row">
    <h3 class="bg-secondary">商品新規登録</h3>
  </div>
    <div>
      <% if @item.errors.any? %>
       <%= @item.errors.count %>件のエラーメッセージがあります。
       <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
       <% end %>
      <% end %>
    </div>

    <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
      <div class="form-group row">
        <div class="col-sm-1"></div>
        <%= f.label :image, "商品画像", class: "col-sm-2 col-form-label" %>
        <%= f.attachment_field :image, class: "col-sm-4" %>
      </div>
      <div class="form-group row">
        <div class="col-sm-1"></div>
        <%= f.label :name, "商品名", class: "col-sm-2 col-form-label" %>
        <%= f.text_field :name, class: "col-sm-4" %>
      </div>
      <div class="form-group row">
        <div class="col-sm-1"></div>
        <%= f.label :introduction, "商品説明", class: "col-sm-2 col-form-label" %>
        <%= f.text_area :introduction, class: "col-sm-4" %>
      </div>
      <div class="form-gropu row">
        <div class="col-sm-1"></div>
        <%= f.label :genre_id, "ジャンル", class: "col-sm-2 col-form-label" %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい", class: "col-sm-4" %>
      </div>
      <div class="form-group row">
        <div class="col-sm-1"></div>
        <%= f.label :price_excluding_tax, "税抜価格", class: "col-sm-2 col-form-label" %>
        <%= f.text_field :price_excluding_tax, class: "col-sm-4" %>円
      </div>
      <div class="form-group row">
        <div class="col-sm-1"></div>
        <%= f.label :is_active, "販売ステータス", class: "col-sm-2" %>
        <%= f.radio_button :is_active, :true %>
        <%= f.label :is_active, "販売中", class: "col-sm-2" %>
        <%= f.radio_button :is_active, :false %>
        <%= f.label :is_active, "販売停止中", class: "col-sm-2" %>
      </div>
      <div class="form-group row">
        <div class="col-sm-4"></div>
      <%= f.submit "新規登録", class: "col-sm-2 btn btn-success" %>
      </div>
    <% end %>

</div>