<div class="container"><br>
  <div class="row">
    <div class="col-1"></div>
    <h3 class="bg-secondary">　<%= @customer.full_name %>さんの会員情報　</h3>
  </div><br>
  <div class="row">
    <div class="col-3">
      <strong>会員ID</strong>
    </div>
    <div class="col-9">
      <%= @customer.id %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-3">
      <strong>氏名</strong>
    </div>
    <div class="col-9">
      <!--<%= @customer.last_name %><%= @customer.first_name %>--><%= @customer.full_name %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-3">
      <strong>フリガナ</strong>
    </div>
    <div class="col-9">
      <%= @customer.last_name_kana %>　<%= @customer.first_name_kana %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-3">
      <strong>郵便番号</strong>
    </div>
    <div class="col-9">
      <%= @customer.postal_code %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-3">
      <strong>住所</strong>
    </div>
    <div class="col-9">
      <%= @customer.address %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-3">
      <strong>電話番号</strong>
    </div>
    <div class="col-9">
      <%= @customer.telephone_number %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-3">
      <strong>メールアドレス</strong>
    </div>
    <div class="col-9">
      <%= @customer.email %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-3">
      <strong>会員ステータス</strong>
    </div>
    <div class="col-9">
        <% if @customer.is_deleted == false %>
          <p class="text-success">有効</p>
        <% else %>
          <p class="text-secondary">無効</p>
        <% end %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-2">
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>
    </div>
    <div class="col-3">
      <%= link_to "注文履歴一覧を見る", admin_path, class: "btn btn-primary" %>
    </div>
  </div>





</div>